<div class="container-fluid">
    <div class="container">
        <div class="row">

            {% for shop in posts %}

                <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-3 shop-column">
                    <a href="">
                        <div class="ratio ratio-1-1 radius-8">
                            <a href="{{shop.link}}">
                                <div class="pic">
                                    <img src="{{shop.thumbnail.src('full')}}" alt="">
                                </div>
                            </a>
                            <div class="overlay"></div>
                        </div>
                    </a>
                    <h3>{{shop.start_date}}</h3>
                    <a href="{{shop.link}}">
                        <h2>{{shop.title}}</h2>
                    </a>
                </div>

            {% endfor %}


        </div>
    </div>
</div>