{% include 'Templates/Views/components/hero.html' %}


<div class="container-fluid">

	<div class="container">
	
		<div class="row">
			<div class="col">
				<h5>Start Date: {{ post.start_date }}</h5>
				<h5>Cost: {{ post.cost }} {{ post.currency }}</h5>
				<h5>{{ post.slots }} Slots</h5>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="col-md-8">
				<div class="table-responsive">
					<table class="table tournament-table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col" class="text-pic">Pic</th>
								<th scope="col">Name</th>
								<th scope="col">NickName</th>
								<th scope="col">Data Time</th>
								<th scope="col">Leaved</th>
							</tr>
						</thead>
						<tbody>
							{% set count = 1 %}
							{% for row in post.get_field('tournament_tabel') %}
								<tr>
									<td>{{count}}</td>                                                    
									<td class="img-td"><div><a href="{{ fn('UserObject',row.user,null).GetUserProfilePage  }}"><img src="{{ fn('UserObject',row.user,null).GetUserAvatar  }}" alt=""></a></div></td>
									<td>{{ fn('UserObject',row.user,null).GetUserFullName  }}</td>
									<td>{{ fn('UserObject',row.user,null).GetUserNickName  }}</td>
									<td>{{row.date_time}}</td>
									<td>{{row.leave}}</td>
								</tr>
								{% set count = count+1 %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	

			<div class="col-md-4">
				{% set count = 1 %}
				{% for prize in post.get_field('prize') %}
					<p>#{{count}} {{ prize.prize}}</p>
					{% set count = count+1 %}
				{% endfor %}
			</div>

		</div>


		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					{{ button_text }} Tournament
				</button>
			</div>
		</div>
	</div>

</div>

{{ modal }}