<div id="users_shoping_table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>User Name</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
                {% set count = 0 %}
                {% for product in all_products %}

                    {% set count = count+1 %}
                    {% set img_src = fn('wp_get_attachment_image_src',product.image_id ) %}
                    {% set user = fn('get_userdata', product.user_id ) %}

                    <tr data-user-id="{{product.id}}">
                        <td> {{count}} </td>
                        <td> <img src="{{img_src.0}}" alt=""> </td>
                        <td> <a href=" {{ fn('get_permalink', product.product_id )}} ">{{product.product_name}}</a> </td>
                        <td> <a href="{{ fn('get_edit_user_link', product.user_id) }}"> {{ user.display_name }} </a> </td>
                        <td> {{product.date}} </td>
                    </tr>
                    
                {% endfor %}
        </tbody>
    </table>
</div>