{% include '/components/hero.html' %}



<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
            
                FILTER AREA HERE

            </div>

            <div class="col-md-9">

                {% for tournament in tournaments %}


                    {% set activeGrupTitle = fn( 'FrontEndTime',tournament.start_date).SetGrupDateTitle %}

                    {% if activeGrupTitle %}
                        <h4>{{activeGrupTitle}}</h4>
                    {% endif %}

                    <div class="row tournament-row">
                        <div class="col-md-3">
                            <div class="pic radius-8 ratio-16-9">
                                <a href="{{tournament.link}}">
                                    <img src="{{tournament.thumbnail.src('full')}}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 d-flex justify-content-start align-items-center">
                            <div>
                                <h3>{{ fn( 'FrontEndTime',tournament.start_date).FormatTrounamentDate }}</h3>
                                <a href="{{tournament.link}}"><h2>{{tournament.title}}</h2></a>
                                <h4>{{tournament.cost}} {{tournament.currency}} &#8226; {{tournament.slots}} slots </h4>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            
            </div>

        </div>
    </div>
</div>


